@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    overflow-x: hidden;
}

.ul {
    list-style: none;
}

img {
    width: 100%;
}

.bg-gradient {
    background: 
        rgba(0, 62, 101, 1) 
        radial-gradient(circle at 30% 10%, rgba(1,102,142,1) 0%, rgba(0,62,101,1) 50%) 
        no-repeat;
}

.roundedRectangle {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textAreaDesc {
    height: 115px;
    width: 100%;
    border-radius: 20px;
    background-color: #6b99b0;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 0 none #FFF;
    overflow: hidden;
}

.textAreaDescResponsive {
    height: 115px;
    width: 100%;
    border-radius: 20px;
    background-color: #6b99b0;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 0 none #FFF;
    overflow: hidden;
}

.textAreaDescResponsive:focus {
    border: 0 none #FFF;
    overflow: hidden;
    outline:none;
}

.textAreaDescResponsive::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.45;
}

.textAreaDescResponsiveLandscape {
    height: 90px;
    width: 100%;
    border-radius: 20px;
    background-color: #6b99b0;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 0 none #FFF;
    overflow: hidden;
}

.textAreaDescResponsiveLandscape:focus {
    border: 0 none #FFF;
    overflow: hidden;
    outline:none;
}

.textAreaDescResponsiveLandscape::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.45;
}

.textAreaDesc:focus {
    border: 0 none #FFF;
    overflow: hidden;
    outline:none;
}

.textAreaDesc::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.45;
}

.profileInputsShort {
    background-color: #6b98ae;
    color: white;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.profileInputsLarge {
    background-color: #6b98ae;
    color: white;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.profileInputResponsive {
    background-color: #6b98ae;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: none;
    color: white;
}

.profileInputResponsiveShort {
    background-color: #6b98ae;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: none;
    color: white;
}

.profileInputResponsiveShortLandscape {
    background-color: #6b98ae;
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: none;
    color: white;
}

.profileInputResponsive::placeholder {
    color: white;
    font-weight: bold;
}

.profileInputResponsive:focus {
    outline: none;
}

.profileInputResponsiveShort::placeholder {
    color: white;
    font-weight: bold;
}

.profileInputResponsiveShort:focus {
    outline: none;
}

.profileInputResponsiveShortLandscape::placeholder {
    color: white;
    font-weight: bold;
}

.profileInputResponsiveShortLandscape:focus {
    outline: none;
}

.profileInputsShort::placeholder {
    color: white !important;
    opacity: 1;
    font-size: 20px;
}

.profileInputsLarge::placeholder {
    color: white !important;
    opacity: 1;
    font-size: 20px;
}

.showEditNameInput {
    visibility: visible;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Fredoka One', sans-serif;
}

.showEditDescInput {
    visibility: visible;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Fredoka One', sans-serif;
}

.showEditNameInput:focus {
    border: none;
    outline: none;
}

.showEditDescInput:focus {
    border: none;
    outline: none;
}

.hideEditInput {
    visibility: hidden;
    position: absolute;
}

.openGift {
    background-color: #6b92a9;
}

.reservedGift {
    background-color: #6b92a9;
    opacity: 0.5;
}

.showingNavbarMenu { 
    visibility: visible;
    background-color: red;
}

.hiddenNavbarMenu { 
    visibility: hidden;
    background-color: transparent;
}

.verificationEmailInput {
    border: "none";
    font-size: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    outline: none;
    border-width: 0px 0px 5px;
}

.shareInput {
    border: "none";
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    outline: none;
    border-width: 0px 0px 5px;
}

.recoverPasswordInput {
    border: "none";
    font-size: 35px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    font-weight: bold;
    outline: none;
    border-width: 0px 0px 5px;
}

.inputs {
    width: 100%;
}